@using DiabloII_Cookbook.Client.Components
@using DiabloII_Cookbook.Client.Services

@inherits LayoutComponentBase

@inject ILoadingScreenService LoadingScreenService

<LoadingScreen IsLoading="@IsLoading">
    <div class="page">
        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>    
</LoadingScreen>

@code {
    private bool IsLoading { get; set; }

    protected override Task OnInitializedAsync()
    {
        LoadingScreenService.PropertyChanged += (sender, args) =>
        {
            IsLoading = LoadingScreenService.IsLoading;
            StateHasChanged();
        };

        return base.OnInitializedAsync();
    }
}