<div class="rune-word panel">
    <p class="name">{{ runeWord.name }}</p>
    <p class="item-type">{{ runeWord.itemTypes | itemType }}</p>

    <div class="ingredients">
        <app-rune style="margin-left: 4px;" *ngFor="let ingredient of runeWord.ingredients" [level]="level" [rune]="ingredient.rune" assets='diabloii\\classic\\runes'></app-rune>
    </div>

    <p class="property" *ngFor="let property of runeWord.properties" innerHtml="{{ property | property | diabloiiClassicCharacterLevel: level.toString() }}"></p>

    <p class="level" [ngClass]="isAdoptable()">Required level: {{ runeWord.level }}</p>
</div>
