<div class="main">
  <div class="left-panel panel">
    <form [formGroup]="characterForm" style="display: flex; height: 100%; flex-flow: column;">
      <div class="character-panel">
        <label
          style="margin-left: auto; margin-right: auto; margin-bottom: 8px;">{{characterIndex}}/{{characters.length}}</label>
        <div class="character-selector">
          <button type="button" style="border: 0; background: transparent; height: max-content; align-self: center;"
            (click)="previous()">
            <img src="../assets/icons/Left.png" />
          </button>
          <div style="flex: 1; height: 100%; display: flex; margin-left: 16px; margin-right: 16px;">
            <img [src]="classImage" style="height: fit-content; width: 98%; margin: auto;" />
          </div>
          <button type="button" style="border: 0; background: transparent; height: max-content; align-self: center"
            (click)="next()">
            <img src="../assets/icons/Right.png" />
          </button>
        </div>
      </div>
      <div class="character-page">
        <label style="grid-column: header;">Name:</label>
        <label style="grid-column: item;">{{character.name}}</label>

        <label style="grid-column: header;">Level:</label>
        <input style="grid-column: item;" type="text" formControlName="level" />

        <label style="grid-column: header;">Ladder:</label>
        <input style="grid-column: item; width: max-content;" type="checkbox" formControlName="isLadder" />

        <label style="grid-column: header;">Expansion:</label>
        <input style="grid-column: item; width: max-content;" type="checkbox" formControlName="isExpansion" />
      </div>

      <div class="rune-selector">
        <div *ngFor="let rune of runes">
          <input style="grid-column: item; width: max-content; margin-right: 4px;" type="checkbox"
            formControlName="{{rune.id}}" />
          <app-rune [rune]="rune"></app-rune>
        </div>
      </div>

      <div class="button-row">
        <button class="text-button" (click)="addCharacter()">Create</button>
        <button class="text-button" style="margin-left: auto;" (click)="deleteCharacter()">Delete</button>
      </div>
    </form>
  </div>

  <div class="right-panel" style="flex-flow: column;">
    <div class="filter-panel panel">
      <form [formGroup]="filterForm" style="display: flex; height: 100%; flex-flow: column;">
        <div style="display: flex; flex-flow: row;">
          <div
            style="display: flex; flex-flow: column; margin-left: auto; margin-top: auto; margin-bottom: auto; margin-right: 4px;">
            <div *ngFor="let itemType of armors">
              <input type="checkbox" formControlName="{{itemType.id}}" />
              <label>{{itemType.name}}</label>
            </div>
          </div>
          <div style="display: flex; flex-flow: column; margin-right: auto; margin-left: 4px;">
            <div style="display: grid; grid-template-columns: repeat(4, auto);">
              <div *ngFor="let itemType of weapons" style="align-self: center;">
                <input type="checkbox" formControlName="{{itemType.id}}" />
                <label>{{itemType.name}}</label>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div style="display: flex;">
        <button class="text-button">Weapons</button>
        <button class="text-button">Armors</button>
        <button class="text-button">{{character.name}}</button>

        <div style="margin-left: auto;">
          <button class="text-button" style="margin-left: 4px;" (click)="getRuneWords()">Search</button>
          <button class="text-button" style="margin-right: 4px;" (click)="getAllRuneWords()">All</button>
        </div>
      </div>
    </div>

    <div class="result-panel">
      <app-rune-word style="margin-top: 4px;" *ngFor="let runeWord of runeWords" [runeWord]="runeWord"
        [targetLevel]="character.level"></app-rune-word>
    </div>
  </div>
</div>