<div class="main">
  <div class="left-panel panel">
    <form [formGroup]="characterForm" style="display: flex; height: 100%; flex-flow: column;">
      <div class="character-panel">
        <label style="margin-left: auto; margin-right: auto; margin-bottom: 8px;">{{characterIndex}}/{{characters.length}}</label>
        <div class="character-selector">
          <button type="button" style="border: 0; background: transparent; height: max-content; align-self: center;"
            (click)="previous()">
            <img src="../assets/icons/Left.png" />
          </button>
          <div style="flex: 1; height: 100%; display: flex; margin-left: 16px; margin-right: 16px;">
            <img [src]="classImage" style="height: fit-content; width: 98%; margin: auto;" />
          </div>
          <button type="button" style="border: 0; background: transparent; height: max-content; align-self: center"
            (click)="next()">
            <img src="../assets/icons/Right.png" />
          </button>
        </div>
      </div>
      <div class="character-page">
        <label style="grid-column: header;">Name:</label>
        <label style="grid-column: item;">{{character.name}}</label>

        <label style="grid-column: header;">Level:</label>
        <input style="grid-column: item;" type="text" formControlName="level"/>

        <label style="grid-column: header;">Ladder:</label>
        <input style="grid-column: item; width: max-content;" type="checkbox" formControlName="isLadder"/>

        <label style="grid-column: header;">Expansion:</label>
        <input style="grid-column: item; width: max-content;" type="checkbox" formControlName="isExpansion"/>
      </div>

      <div class="rune-selector">
        <div *ngFor="let rune of runes">
          <input style="grid-column: item; width: max-content; margin-right: 4px;" type="checkbox" formControlName="{{rune.id}}"/>
          <app-rune [rune]="rune"></app-rune>
        </div>
      </div>
       
      <div class="button-row">
        <button class="text-button" (click)="addCharacter()">Create</button>
        <button class="text-button" style="margin-left: auto;" (click)="deleteCharacter()">Delete</button>
      </div>
    </form> 
  </div>
</div>