@font-face {
    font-family: "Exocet";
    src: url("/assets/classic/fonts/Exocet-Heavy.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Exocet";
    src: url("/assets/classic/fonts/Exocet-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

div.container {
    background-image: url("/assets/classic/background.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    height: 100%;
    display: grid;
    grid-template-columns: [left]min-content [right]auto;
    grid-column-gap: 4px;
    padding: 4px;
    font-family: var(--font-family);

    z-index: 0;
}

div.panel {
    height: 100%;
    width: min-content;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(0, 0, 0, 0.8);
    border-image: url("/assets/classic/elements/border.png");
    border-image-width: auto;
    border-image-repeat: stretch;
    border-image-slice: 10%;
    padding: 8px;
}

div.right {
    grid-column: right;

}

div.data {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
}

div.left {
    width: 450px;
    grid-column: left;
    display: flex;
    flex-flow: column;
}

div.character-information {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

div.character-selector {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex: 1 1 auto;
}

div.character-detail {
    padding-top: 4px;
    padding-bottom: 4px;
    display: grid;
    grid-template-columns: [label]auto [value]auto;
    grid-template-rows: repeat(4, min-content);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

div.button-row {
    display: flex;
}

div.rune-select {
    grid-column: select;
}

div.filter {
    height: min-content;

    width: 100%;

    display: flex;
    flex-flow: column wrap;
}

div.filter-container {
    display: flex;

    margin-left: auto;
    margin-right: auto;

    margin-block-end: 8px;
}

div.selector {
    display: grid;
    grid-template-columns: repeat(3, [select]min-content [rune]auto);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
}

div.armor-filters {
    grid-column: armor-filters;

    align-self: center;
}

div.weapon-filters {
    grid-column: weapon-filters;

    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 4px;
}

div.rune-words-container {
    flex: 1 0 0;

    overflow-y: auto;
}

img.character-image {
    margin-right: 16px;
    margin-left: 16px;
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
}

img.arrow {
    align-self: center;
    width: 20px;
    height: 20px;
}

.left-row {
    margin-right: auto;
}

.right-row {
    margin-left: auto
}

label, span {
    color: var(--color-text);
}

label {
    font-weight: bold;
}

::deep input[type="checkbox"] {
    -webkit-appearance: none;
    background-image: url("/assets/classic/elements/unchecked.png");
    background-repeat: round;
    padding: 9px;
    align-self: center;
    height: min-content;
}

    ::deep input[type="checkbox"]:checked {
        background-image: url("/assets/classic/elements/checked.png");
    }

button {
    -webkit-appearance: none;

    background: url('/assets/classic/elements/button.png');
    background-repeat: round;
    background-clip: padding-box;
    background-size: cover;

    border-width: 0px;

    height: 1.8em;
    width: 120px;

    font-weight: bold;
    font-family: var(--font-family);
}

    button:active {
        background: url('/assets/classic/elements/button.png');
        background-repeat: round;
        background-clip: padding-box;
        background-size: cover;

        padding-top: 3px;
    }

    button:disabled {
        background: url('/assets/classic/elements/button.png');
        background-repeat: round;
        background-clip: padding-box;
        background-size: cover;
    }

div.loading-screen {
    position: relative;

    z-index: 1;
}

::deep input[type="number"] {
    -webkit-appearance: none;
    background-image: url("/assets/classic/elements/input.png");
    background-repeat: round;
    background-clip: padding-box;
    background-size: cover;
    background-color: black;
    border-width: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: max-content;
    outline: none;
    color: var(--color-text);
    padding-left: 8px;
    padding-right: 8px;
    align-content: center;
    width: 100%;
    font-family: var(--font-family);
}

    ::deep input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }