span {
    color: var(--color-text);
    font-family: var(--font-family);
}

div.button-row {
    margin-top: 16px;
}

button {
    -webkit-appearance: none;
    background-image: url('/assets/classic/elements/button.png');
    background-repeat: round;
    background-clip: padding-box;
    background-size: cover;
    border-width: 0px;
    height: 1.8em;
    width: 120px;
    font-weight: bold;
    font-family: var(--font-family);
    margin-left: auto;
}

button:active {
    background: url('/assets/classic/elements/pressed-button.jpg');
    background-repeat: round;
    background-clip: padding-box;
    background-size: cover;
}

button:disabled {
    background: url('/assets/classic/elements/disable-button.jpg');
    background-repeat: round;
    background-clip: padding-box;
    background-size: cover;
}