span {
    color: var(--color-rune);

    vertical-align: middle;
}

img {
    vertical-align: middle;
}

div.rune {
    display: inline;
    cursor: default;
    margin-left: 4px;
}

div.level-applicable {
    opacity: 1;
}

div.level-unapplicable {
    opacity: 0.4;
}