div.panel {
    height: max-content;
    width: max-content;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(0, 0, 0, 0.9);
    border-image: url("/assets/classic/elements/border.png");
    border-image-width: auto;
    border-image-repeat: stretch;
    border-image-slice: 10%;
    padding: 8px;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: help;
}

div.tooltip {
    position: absolute;
    text-align: center;

    z-index: 4;
}

    div.tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
    }

.tooltip-wrapper:hover div.tooltip {
    visibility: visible;
}

p {
    font-size: 14px;
}

    p.name {
        color: var(--color-rune);

        font-weight: bold;

        margin-block-start: 0px;
        margin-block-end: 16px;
    }

    p.description {
        color: var(--color-text);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p.level {
        margin-block-start: 8px;
        margin-block-end: 0px;
    }

    p.level-applicable {
        color: green;
    }

    p.level-unapplicable {
        color: red;
    }

span.label {
    font-weight: bold;
    margin-right: 4px;
}
