span {
    color: var(--color-rune);

    vertical-align: middle;
}

img {
    vertical-align: middle;
}

div.rune {
    display: inline;
    cursor: default;
    margin-left: 4px;

    font-size: 14px;
}

div.level-applicable {
    font-weight: bold;
}

div.level-unapplicable {
    opacity: 0.9;
}