@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --font-family: "Exocet";
    --color-rune: #CE8800;
    --color-text: #7b7b7b;
    --color-magic: #4850B8;
    --border: url("/assets/classic/elements/border.png");
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    margin: 0px;

    height: 100vh;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    height: 100%;
    display: grid;

    background-color: #000000;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#app {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.dialog {
    display: flex;
    z-index: 102;
    flex-direction: column;
    background-color: black;

    border-image: var(--border);
    border-style: solid;
    border-image-width: auto;
    border-image-repeat: stretch;
    border-image-slice: 10%;

    padding: 0.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
}