
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$diabloii-cookbook-primary: mat-palette($mat-indigo);
$diabloii-cookbook-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$diabloii-cookbook-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$diabloii-cookbook-theme: mat-light-theme((
  color: (
    primary: $diabloii-cookbook-primary,
    accent: $diabloii-cookbook-accent,
    warn: $diabloii-cookbook-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($diabloii-cookbook-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image:url('assets/Background.gif'); background-repeat: no-repeat; background-size: 35%; background-position: center; background-color: black; font-size: 14px; }

@font-face {
  font-family: Diablo Light;
  src: url('assets/fonts/DiabloLight.ttf') format('truetype');
}

@font-face {
  font-family: Diablo Heavy;
  src: url('assets/fonts/DiabloHeavy.ttf') format('truetype');
}

input[type=checkbox] {
  -webkit-appearance: none;
  background-image: url('/assets/icons/Unchecked.png');
  padding: 9px;
  vertical-align: middle;
  background-repeat: no-repeat;
}

input[type=checkbox]:checked {
  background-image: url('/assets/icons/Checked.png');
  background-repeat: no-repeat;
}

label {
  color: #7b7b7b;
  margin-left: 4px;
  font-family: Diablo Light;
}

// p {
//   color: #7b7b7b;
//   font-family: Diablo Light;
// }

div.main {
  width: auto;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

div.panel {
    background-color: rgba($color: #000000, $alpha: 0.8);
    border-image: url('/assets/icons/border.png') 30 round; 
    border-image-width: auto;
    border-style: solid;
    border-image-outset: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

div.left-panel {
  width: auto;
  height: 98%;
  display: flex;
  flex-flow: column wrap;
  margin-right: 4px;
}

div.right-panel {
  flex: 1;
  height: 99%;
  align-self: flex-start;
  display: flex;
  flex-flow: column wrap;
  margin-left: 4px;
}

div.filter-panel {
  margin-bottom: 4px;
}

div.result-panel {
  margin-top: 4px;
  flex: 1;
}

div.character-panel {  
  display: flex;
  flex-flow: column;
  flex: 1;
}

div.character-selector {  
  display: flex;
  align-self: stretch;
  flex: 1;
}

div.character-page {
  display: grid;
  grid-template-columns: [header] auto [item] auto;
  row-gap: 4px;
  column-gap: 4px;
  padding: 4px;
  align-items: center;
}

div.rune-selector {
  display: grid;
  grid-template-columns: repeat(3, [rune] auto);
  row-gap: 4px;
  column-gap: 4px;
  padding: 4px;
}

div.button-row {
  display: flex;    
}

button.text-button {
  background-image: url('assets/icons/Button.png');
  background-size: 140px 25px;
  height: 25px;
  width: 140px;
  border-width: 0px;
  margin: 4px;
  font-family: Diablo Heavy;
  color: black;
}

input[type=text] {
  background-image: url('/assets/icons/TextBox.png');
  border: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 25px;
  color: #7b7b7b;
  padding-left: 8px;
  vertical-align: middle;
  font-family: Diablo Light;
  font-size: 12px;
  width: auto;
}

input[type=text]:focus {
  outline: none !important;
  border:hidden;
}

div.tool-tip {
    position: relative;
    display: inline-block;
}

div.tool-tip .tool-tip-text {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

div.tool-tip:hover .tool-tip-text {
  visibility: visible;
}

.mat-dialog-container {
  background-color: black;
  border-image: url('/assets/icons/border.png') 30 round; 
  border-image-width: auto;
  border-style: solid;
  border-image-outset: 2px;
}

.select {  
  background-image: url('/assets/icons/ComboBox.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  color: #7b7b7b !important;
  padding-left: 8px;
  vertical-align: middle;
  font-family: Diablo Light;
  font-size: 12px;
}

.select-panel {
  background-color: black;
  border-image: url('/assets/icons/border.png') 30 round; 
  border-image-width: auto;
  border-style: solid;
  border-image-outset: 2px;
}

.mat-option-text {
  color: #7b7b7b !important;
  font-family: Diablo Light;
}

.mat-select-value {
  color: #7b7b7b !important;
  font-family: Diablo Light;
}

.mat-select-value-text {
  display: block;
  margin-top: 4px;
}

p {
  color: #7b7b7b !important;
  font-family: Diablo Light;
}
